.game-detail {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 50px;
  color: white;
}

.detail-card {
  width: 900px;
  background: rgba(15, 15, 26, 0.85);
  border-radius: 18px;
  padding: 30px;
  display: flex;
  gap: 30px;

  box-shadow: 0px 0px 20px rgba(78, 166, 255, 0.4);
  backdrop-filter: blur(6px);
}

.detail-img {
  width: 350px;
  height: 460px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 0 20px rgba(0, 80, 255, 0.4);
}

.detail-info {
  flex: 1;
}

.detail-info h1 {
  font-size: 2.6rem;
  margin-bottom: 15px;
  color: #4ea6ff;
  text-shadow: 0 0 10px rgba(78, 166, 255, 0.9);
}

.genres {
  font-size: 1rem;
  color: #a9bffc;
  margin-bottom: 20px;
}

.description {
  font-size: 1.1rem;
  color: #d6d8df;
  margin-bottom: 30px;
  line-height: 1.6;
}

.detail-buttons {
  display: flex;
  gap: 20px;
}

.btn-primary {
  padding: 12px 20px;
  background: #4ea6ff;
  border: none;
  border-radius: 10px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  transition: 0.25s;
}

.btn-primary:hover {
  background: #7fbfff;
  box-shadow: 0 0 12px #4ea6ff;
}

.btn-secondary {
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #4ea6ff;
  border-radius: 10px;
  color: #4ea6ff;
  cursor: pointer;
  transition: 0.25s;
}

.btn-secondary:hover {
  background: #4ea6ff;
  color: #000;
}
